@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

html,
body {
    background-color: var(--background);
}

:root[data-theme="light"] {
    --text: #080c0a;
    --background: #eaf1ec;
    --primary: #375341;
    --primary-hover: #466e55;
    --secondary: #e0ebe4;
    --accent: #669978;
}

:root[data-theme="dark"] {
    --text: #f3f7f5;
    --background: #121612;
    --primary: #acc8b6;
    --primary-hover: #9fb9a8;
    --secondary: #141f18;
    --accent: #669978;
}

.icon-bar {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.icon-bar .icon {
    background: none;
    border: none;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    color: var(--text, #080c0a);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.download-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-input {
    width: 26rem;
    height: 3rem;
    border: none;
    border-radius: 1.25rem 0 0 1.25rem;
    border-bottom: 2px solid var(--primary, #669978);
    border-left: 2px solid var(--primary, #669978);
    border-top: 2px solid var(--primary, #669978);
    padding-left: 0.5rem;
    background: inherit;
    color: var(--text);
}

.download-btn {
    width: 9rem;
    height: 3.375rem;
    border-radius: 0 1.25rem 1.25rem 0;
    background: var(--primary, #375341);
    outline: none;
    border: none;
    font-size: medium;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    transition: all 100ms;
}

.download-btn:hover {
    background: var(--primary-hover);
    transition: all 100ms;
}

:root[data-theme="light"] .download-btn {
    color: #f3f7f5;
}

:root[data-theme="dark"] .download-btn {
    color: #080c0a;
}

@media only screen and (width <= 40rem) {
    .download-bar {
        flex-direction: column;
        width: 90%;
    }

    .main {
        width: 90%;
        padding: 1rem;
    }

    .url-input {
        width: 100%;
        border-radius: 1.25rem;
        border: 2px solid var(--primary, #669978);
    }

    .download-btn {
        width: 100%;
        background: inherit;
        color: var(--primary) !important;
    }

    .download-btn:hover {
        color: var(--primary-hover);
    }
}

.icon > svg > *,
.gitea-link > svg > g > path {
    fill: var(--text);
}

.theme-toggle {
    padding: 0;
    cursor: pointer;
}

.icon {
    opacity: 0.8;
    transition: all 200ms;
}

.icon:hover {
    opacity: 1;
    transition: all 200ms;
}
